body {
	background-color: #000000;
	font-family: "courier", sans-serif;
	color: #ffe042;
	width: 100%;
	height: 100%;
	margin: 0 0;
}

a {
	color: inherit;
	font-weight: 800;
}

a:hover {
	text-decoration: underline;
	cursor: pointer;
	color:blueviolet;
}

.page-blog {
	background-image: url("../img/laguna-garden.jpg");
	background-size: cover;
	opacity: 0.72;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.page-me {
	background-image: url("../img/dollet-tower.png");
	background-size: cover;
	background-position: 25% 25%;
	opacity: 0.72;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.www {
	padding: 5% 20%;
	background-color: rgba(0, 0, 0, 0.72);
	max-width: 100%;
}

.ww {
	padding: 5% 50% 5% 5%;
	background-color: rgba(0, 0, 0, 0.72);
	max-width: 100%;
}

.w {
	padding: 5% 20%;
	background-color: rgba(0, 0, 0, 0.72);
	
}

.t {
	text-align: center;
	font-family: "book-antiqua";
	font-size: 33px;
}

.tt {
	text-align: center;
	font-family: "book-antiqua";
	font-size: 1.4rem;
}

.ttt {
	text-align: center;
	font-family: "book-antiqua";
}

.tttt {
	text-align: center;
}

.sub {
	font-family: "book-antiqua";
	font-size: 1.2rem;
}

.back {
	position: fixed;
	top: 20px;
	left: 20px;
}

.chapter {
	border-bottom: 1px solid #f7eaa6;
	padding: 10px 0;
}

.photo {
	display: block;
	max-width: 60%;
	margin: 0 auto;
}

.foot {
	position: fixed;
	right: 10px;
	bottom: 10px;
	text-align: right;
}